[user]
	name = Yosuke Mukasa
	email = {{ .email | quote }}
[color]
	ui = auto
[pager]
  branch = cat
  config = cat
[ghq]
  root = ~/ghq
[pull]
	rebase = true
[core]
	quotepath = false
  editor = vim
[init]
	defaultBranch = main
[rebase]
	autoStash = true
